<div class="header-bg sticky-top" style="z-index: 1020;">
  <header class="container">
    <nav class="navbar navbar-expand-lg py-2">
      <div class="container-fluid">
        <div class="navbar-nav me-auto d-flex flex-row gap-4">
          <a class="nav-link text-white fw-bold" href="#">Events</a>
          <a class="nav-link text-white fw-bold" href="/about">About</a>
        </div>

        <div class="d-flex align-items-center text-white">
          <ng-container *ngIf="authService.isAuthenticated$ | async; else signInBtn">
  <div class="d-flex align-items-center gap-3">
    <a routerLink="/account" class="text-white text-decoration-none">
      <ng-container *ngIf="(authService.currentUser$ | async)?.profile?.image; else defaultIcon">
        <img [src]="(authService.currentUser$ | async)?.profile?.image"
             alt="Avatar"
             class="rounded-circle"
             style="width: 40px; height: 40px; object-fit: cover;">
              </ng-container>
              <ng-template #defaultIcon>
                <i class="bi bi-person-circle fs-2"></i>
              </ng-template>
            </a>
          </div>
        </ng-container>

        <ng-template #signInBtn>
          <button (click)="openAuthModal(authModal)"
                  class="btn btn-outline-light fw-bold ms-3 px-4"
                  style="border-radius: 20px;">
            Sign In
          </button>
        </ng-template>
        </div>
      </div>
    </nav>
  </header>
</div>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="main-footer py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="logo.png" width="60" class="mb-3">
        <div class="d-flex gap-3 fs-4">
          <a href="https://www.linkedin.com/company/akira-gamedev/?viewAsMember=true"
             target="_blank" class="text-white decoration-none">
            <i class="bi bi-linkedin"></i>
          </a>

          <a href="https://www.instagram.com/akira_gamedev/"
             target="_blank" class="text-white decoration-none">
            <i class="bi bi-instagram"></i>
          </a>

          <a href="https://t.me/akira_almaty"
             target="_blank" class="text-white decoration-none">
            <i class="bi bi-telegram"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <h5>DemoDay</h5>
        <a class="opacity-75" style="cursor: pointer; color: #dadae5; text-decoration: none" href="/about">About</a>
      </div>
      <div class="col-md-6">
        <h5>Newsletter</h5>
        <p class="mb-1 opacity-75">We select the week's key events and share them in our newsletter.</p>
        <div class="input-group mt-2">
          <input [formControl]="authForm.controls.email" type="email" class="form-control border-0" placeholder="E-mail" style="background: #e0e0e0;">
          <button (click)="onSubmit()" class="btn text-white px-4" style="background-color: #5a00b3;">Send</button>
        </div>
      </div>
    </div>
  </div>
</footer>

<ng-template #authModal let-modal>
  <div class="modal-body p-0">
    <div class="d-flex w-100 mb-4" style="background-color: #f0f0f0; border-top-left-radius: 8px; border-top-right-radius: 8px;">
      <button type="button" class="btn py-3 w-50 fw-bold border-0"
              [style.background-color]="!isLoginMode ? 'transparent' : '#ccc'" (click)="toggleMode(false)">
        Registration
      </button>
      <button type="button" class="btn py-3 w-50 fw-bold border-0"
              [style.background-color]="isLoginMode ? 'transparent' : '#ccc'" (click)="toggleMode(true)">
        Login
      </button>
    </div>

    <div class="p-4 pt-0">
      <form [formGroup]="authForm">
        <div class="mb-3">
          <label class="form-label fw-bold">Username</label>
          <input type="text" formControlName="username" class="form-control bg-light border-0" placeholder="Pick a unique username">
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">E-mail</label>
          <input type="email" formControlName="email" class="form-control bg-light border-0" placeholder="Enter your email">
        </div>

        <div *ngIf="!isLoginMode" class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Name</label>
            <input type="text" formControlName="first_name" class="form-control bg-light border-0" placeholder="Name">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Surname</label>
            <input type="text" formControlName="last_name" class="form-control bg-light border-0" placeholder="Surname">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Password</label>
          <div class="input-group">
            <input [type]="isvissiblePassword ? 'text' : 'password'"
                   formControlName="password"
                   class="form-control bg-light border-0"
                   placeholder="Password"
                   style="border-top-right-radius: 0; border-bottom-right-radius: 0;">

            <button type="button"
                    class="btn btn-light border-0 d-flex align-items-center"
                    (click)="togglePassword()"
                    style="background-color: #f1f1f1; border-top-left-radius: 0; border-bottom-left-radius: 0;">
              <i class="bi" [ngClass]="isvissiblePassword ? 'bi-eye-slash' : 'bi-eye'" style="color: #5a00b3; font-size: 1.2rem;"></i>
            </button>
          </div>
        </div>

        <div *ngIf="!isLoginMode" class="mb-3">
          <label class="form-label fw-bold">Confirm Password</label>
          <div class="input-group">
            <input [type]="isvissiblePasswordRepeat ? 'text' : 'password'"
                   formControlName = "password_confirm"
                   class="form-control bg-light border-0"
                   placeholder="Repeat Password"
                   style = "border-top-right-radius: 0; border-bottom-right-radius: 0;">
            <button type="button"
                    class="btn btn-light border-0 d-flex align-items-center"
                    (click)="toggleRepeate()"
                    style="background-color: #f1f1f1; border-top-left-radius: 0; border-bottom-left-radius: 0;">
              <i class="bi" [ngClass]="isvissiblePasswordRepeat ? 'bi-eye-slash' : 'bi-eye'" style="color: #5a00b3; font-size: 1.2rem;"></i>
            </button>
          </div>
        </div>

        <div *ngIf="!isLoginMode" class="mb-4">
          <label class="form-label fw-bold d-block">Role</label>
          <div class="btn-group w-100">
            <button type="button" (click)="selectRole('Guest')"
                    [class.btn-primary]="authForm.value.role === 'Guest'"
                    [class.btn-outline-primary]="authForm.value.role !== 'Guest'"
                    class="btn fw-bold">Guest</button>

            <button type="button" (click)="selectRole('Speaker')"
                    [class.btn-primary]="authForm.value.role === 'Speaker'"
                    [class.btn-outline-primary]="authForm.value.role !== 'Speaker'"
                    class="btn fw-bold">Speaker</button>

            <button type="button" (click)="selectRole('Developer')"
                    [class.btn-primary]="authForm.value.role === 'Developer'"
                    [class.btn-outline-primary]="authForm.value.role !== 'Developer'"
                    class="btn fw-bold">Developer</button>
          </div>
        </div>

        <button (click)="onSubmit()" class="btn w-100 text-white fw-bold py-2" style="background-color: #5a00b3; border-radius: 8px;">
          {{ isLoginMode ? 'Login' : 'Register Now' }}
        </button>

        <p *ngIf="errorMessage" class="text-danger text-center mt-3 fw-bold small">
          {{ errorMessage }}
        </p>

        <p *ngIf="submitted" class="text-success text-center mt-3 fw-bold small">
          Success! Done.
        </p>
      </form>
    </div>
  </div>
</ng-template>
