<div class="about-container py-5 text-white">
  <section class="container text-center mb-5">
    <h1 class="display-4 fw-bold mb-3">About Demo Days</h1>
    <p class="lead opacity-75 mx-auto" style="max-width: 700px;">
      What is Lorem Ipsum?
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </section>

  <section class="container mb-5">
    <div class="info-card p-4 p-md-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="fw-bold mb-4">Our Mission</h2>
          <p class="lh-lg">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <button class="btn btn-pink px-4 py-2 fw-bold mt-3"><a class='nav-link text-white fw-bold'href="#">Watch our events</a> </button>
        </div>
        <div class="col-md-6 text-center">
          <div class="img-placeholder bg-white d-flex align-items-center justify-content-center mx-auto shadow-lg">
            <i class="bi bi-rocket-takeoff fs-1 text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
